#include <iostream>

int main()
{
    int a, b, c, d, e, f;
    int A, B, C, D, E, F, G, H, I;
    int O;

    std::cin >> O;

    if (O == 1)
    {
        std::cin >> a >> b >> c;
        std::cin >> d >> e >> f;

        A = b * f;
        B = c * e;
        C = A - B;

        D = c * d;
        E = a * f;
        F = D - E;

        G = a * e;
        H = b * d;
        I = G - H;

        std::cout << "(" << C << "," << F << "," << I << ")";
    }  
    if ( O == 2)
    {
        std::cin >> a >> b >> c;
        std::cin >> d >> e >> f;

        A = a * d;
        B = b * e;
        C = c * f;
        D = A + B + C;

        std::cout << D;
    }
    else
    {
        std::cout << "NOT EXIST CODE";
    }
}
